# Firmware boot script
#
# This script expects the following Grub2 modules to be compiled
# into the grub binary (grub.img):
#
# boot linux squash4 ext2 fat part_msdos normal biosdisk loadenv echo true test
#

# Load the environment for the validation/fallback settings
# (image validation/fallback not added here yet...)
load_env

# Boot A or B depending on which one is active
echo "Booting partition A..."
linux (hd0,msdos2)/boot/bzImage

# Boot!!!
boot
